<div class="headcount">
  <div class="tab-items" *ngIf="(selectedMenu$ | async) as selMenu">
    <div class="tab-item" [ngClass]="{'selected': selMenu === Menus.HEADCOUNT}" (click)="setMenu(Menus.HEADCOUNT)">
      <span>Headcount</span>
    </div>
    <div class="separator">&nbsp;</div>
    <div class="tab-item" [ngClass]="{'selected': selMenu === Menus.CHANGE_REQ}" (click)="setMenu(Menus.CHANGE_REQ)">
      <span>Change Request</span>
    </div>
    <div class="separator">&nbsp;</div>
    <div class="tab-item" [ngClass]="{'selected': selMenu === Menus.DIRECT_COST}" (click)="setMenu(Menus.DIRECT_COST)">
      <span>Direct Costs</span>
    </div>
    <div class="separator">&nbsp;</div>
    <div class="tab-item" [ngClass]="{'selected': selMenu === Menus.PLAN_HEAD}" (click)="setMenu(Menus.PLAN_HEAD)">
      <span>Plan headcount</span>
    </div>
    <div class="separator">&nbsp;</div>
    <div class="tab-item" [ngClass]="{'selected': selMenu === Menus.PLAN_ALLOC}" (click)="setMenu(Menus.PLAN_ALLOC)">
      <span>Plan Allocation</span>
    </div>
    <div class="tab-item tab-item-rem">&nbsp;</div>
  </div>
</div>