$color-body: #ffffff;

$color-primary: #1d262c; 
$color-secondary: #253038;
$color-tertiary: #e4e8ea;

$color-dark-foreground: #414242;
$color-light-foreground: #cccccc;

$color-light-border: #e7e8e7;
$color-dark-border: #414242;

$color-highlight: #d50212;

$color-headers: #e4e8ea;

$color-breadcrumb: #005e58;
$color-breadcrumb-selected: #00847f;
$color-breadcrumb-not-visited: #d9edec;

