<div>
  <h3 class='heading-text'>Allocation</h3>

  <div [formGroup]="allocation">
    <div class="form-field">
      <span class="form-field-label">Project Name<span class="field-required">*</span></span>
      <input class="form-field-input" formControlName="projectName" />
    </div>
    <div class="form-field">
      <span class="form-field-label">Year<span class="field-required">*</span></span>
      <input class="form-field-input" formControlName="year" />
    </div>
    <div class="form-field">
      <span class="form-field-label">Default Allocation<span class="field-required">*</span></span>
      <input class="form-field-input" formControlName="defaultAllocation" />
    </div>
  </div>
</div>