<div class="footer-bar">
  <div class="mg-hz-md sep-left">&nbsp;</div>
  <div class="btn btn-icon btn-no-color">
    <i class="fas fa-lock"></i>
    <span>Security</span>
  </div>

  <div class="mg-hz-md sep-left">&nbsp;</div>
  <div class="btn btn-icon btn-no-color">
    <i class="fas fa-globe"></i>
    <span>HSBC Global</span>
  </div>

  <div class="mg-hz-md sep-left">&nbsp;</div>
  <div class="btn btn-icon btn-no-color">
    <i class="fas fa-phone-alt"></i>
    <span>Customer support</span>
  </div>

  <div class="mg-hz-md sep-left">&nbsp;</div>
</div>

<div class="copyright-bar">
  <div class="copyright-bar-left-section">
    <!-- <div class="mg-hz-md">&nbsp;</div> -->
    <div class="btn btn-icon btn-no-color">
      <span>Terms & Conditions of use</span>
    </div>

    <div class="mg-hz-sm">&nbsp;</div>
    <div class="btn btn-icon btn-no-color">
      <span>Privacy and data protection statement</span>
    </div>

    <div class="mg-hz-sm">&nbsp;</div>
    <div class="btn btn-icon btn-no-color">
      <span>HSBCnet condition of national language use</span>
    </div>

    <div class="mg-hz-sm">&nbsp;</div>
    <div class="btn btn-icon btn-no-color">
      <span>Terms & Conditions of use</span>
    </div>
  </div>

  <div class="copyright-bar-right-section">
    <span>&copy; HSBC Bank plc 2017</span>
  </div>

</div>