<div class="topbar">
  <div class="topbar-left">
    <div class="topbar-item">
      <img class="logo-img" src="/assets/images/HSBC_Logo2.png"/>
    </div>
    <div class="mg-hz-lg sep-left">&nbsp;</div>
    <div class="topbar-item"><h3 class="mg-none">Pioneer</h3></div>
  </div>

  <div class="topbar-right">
    <div class="topbar-item">
      <span>English</span>
      <span>&nbsp;&nbsp;</span>
      <i class="fas fa-chevron-down"></i>
    </div>
    <div class="mg-hz-lg sep-left">&nbsp;</div>
    <div class="topbar-item">
      <i class="fas fa-question-circle"></i>
    </div>
    <div class="mg-hz-lg sep-left">&nbsp;</div>
    <div class="topbar-item user no-sep">
      <div class="user-details text-sm">
        <span>Welcome, John Doe</span>
        <span>Last Login: DD MMM YYYY HH:MM</span>
      </div>
      <i class="user-details-icon fas fa-chevron-down"></i>
    </div>
    <!-- <div class="mg-hz-lg">&nbsp;</div>
    <div class="topbar-item no-sep no-pad">
      <button type="button" class="btn btn-logoff">Log off</button>
    </div> -->
  </div>
</div>
